*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,

body{
    width: 100%;
    height: 100%;
    background-color: rgb(226, 241, 253);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    width: 350px;
    padding: 60px 20px;
    border-radius: 40px;
}

h2{
    color: red;
    font-size: 40px;
    font-weight: 600;
}

#btn{
    background-color: green;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    border: none;
    font-weight: 600;
}